@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}

@mixin Rubik {
    font-family: 'Rubik Mono One', sans-serif;
}

@mixin Rammetto {
    font-family: 'Rammetto One', system-ui;
}

@mixin Rambla {
    font-family: 'Rambla', system-ui;
}

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

::-moz-selection {
    background: #6181a3;
    color: White;
    text-shadow: none;

}

::selection {
    background: #6181a3;
    color: White;
    text-shadow: none;
}



/*
.segoe {
    font-family: 'Segoe Script', 'Open Sans', Helvetica, sans-serif;
}

*/


@layer base {
    html {
        @apply text-[#212121];
    }

    .test-card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }



    .custom-green {
        @include Rammetto;
        @apply  relative text-[#AEE363] transition-colors ease-in-out duration-200
    }

    .custom-grey {
        @apply  relative text-[#667085] transition-colors ease-in-out duration-200
    }

    .custom-blue {
        @apply  relative text-[#1B5CB4] transition-colors ease-in-out duration-200
    }

    .custom-block {
        @apply block relative m-auto max-w-screen-xl px-4 sm:px-4 md:px-4 lg:px-6  xl:px-0;

    }

    .h1-rubik {
        @apply block relative text-[#1B5CB4] py-2 font-rubik text-2xl;

    }

    .custom-card {
        @apply block relative p-8 bg-white drop-shadow-2xl rounded-lg;
    }

    .custom-desc
    {
        @apply block relative text-[#212121];

        p {
            @apply max-sm:text-[16px]/6 text-[17px]/7 text-[#212121] py-3 block relative;

        }

    }

    .custom-input {
        @apply
        w-full
        p-4
        block
        border-1
        border-solid
        border-gray-200
        rounded-lg
        outline-none
        placeholder:text-transparent
        focus:border-1
        focus:border-solid
        focus:border-[#1B5CB4]
        focus:pt-6
        focus:pb-2
        disabled:opacity-50
        disabled:pointer-events-none
        not-placeholder-shown:pt-6
        not-placeholder-shown:pb-2
        autofill:pt-6
        autofill:pb-2
    }

    .custom-label {
        @apply
        absolute
        top-0
        start-0
        p-4
        h-full
        sm:text-sm
        truncate
        pointer-events-none
        transition ease-in-out
        duration-100 border
        border-transparent
        origin-[0_0]
        peer-disabled:opacity-50
        peer-disabled:pointer-events-none
        peer-focus:scale-90
        peer-focus:translate-x-0.5
        peer-focus:-translate-y-1.5
        peer-focus:text-[#1B5CB4] dark:peer-focus:text-neutral-500
        peer-not-placeholder-shown:scale-90
        peer-not-placeholder-shown:translate-x-0.5
        peer-not-placeholder-shown:-translate-y-1.5
        peer-not-placeholder-shown:text-gray-500
        dark:peer-not-placeholder-shown:text-neutral-500
    }
}






/* ... */
